<section class="quem-somos" id="quem-somos">
    <h2>QUEM SOMOS</h2>

    <div class="quem-somos-content">
        <div class="texto">
            <p>Mais do que só cortar cabelo e fazer a barba, nós somos focados em oferecer o melhor atendimento ao
                cliente, sempre com um clima descontraído. A Barbearia Romas tem como foco manter a tradição do bom
                atendimento e a qualidade nos cortes, unindo estilo, conforto e aquele papo que faz a diferença no dia.
                Aqui, cada cliente é tratado como parte da casa. Dos estilos modernos aos cortes clássicos, estamos
                sempre
                buscando evoluir, aprendendo novas técnicas — até mesmo de outros países — para oferecer o melhor em
                cuidados masculinos. Usamos produtos profissionais para garantir que você saia satisfeito e com vontade
                de
                voltar.
        </div>

        <img src="/quemsomos.png" alt="Quem Somos">
    </div>
</section>