<footer class="footer">
    <div class="footer-top">
      <a href="https://www.instagram.com/romario.009/" target="_blank">INSTAGRAM</a>
      <img src="/logo2.png" alt="Logo Romas">
      <a href="https://wa.me/+5511975735795" target="_blank">WHATSAPP</a>
    </div>

    <div class="line"></div>

    <div class="footer-balls">
      <img src="/Ellipse.png" alt="Cor clara">
      <img src="/Ellipse2.png" alt="Cor escura">
      <img src="/Ellipse.png" alt="Cor clara">
      <img src="/Ellipse2.png" alt="Cor escura">
      <img src="/Ellipse.png" alt="Cor clara">
    </div>

    <div class="footer-bottom">
      <p>© 2025 &nbsp; Desenvolvido por
        <a class="rodape-autor" href="https://github.com/GuilhermeSerafim" target="_blank">Guilherme</a>
        E
        <a class="rodape-autor" href="https://github.com/Kayky-lemos" target="_blank">Kayky</a>
      </p>
    </div>

  </footer>