<section class="galeria" id="galeria">
    <h2>GALERIA</h2>
    <p>Começamos com uma tesoura e um sonho. Hoje, entregamos técnica, estilo e transformação.</p>

    <div class="galeria-content">
      <app-card-galeria
      [pathimg]="'/cliente1.png'"
      [comentario]="'Sai daqui me sentindo outro cara, corte alinhado e barba na régua.'"
      [nome]="'João S'"
      />
      <app-card-galeria
      [pathimg]="'/cliente2.png'"
      [comentario]="'O corte ficou simplesmente perfeito! O Romário manda muito na tesoura, super recomendo!'"
      [nome]="'Evelyn O'"
      />
      <app-card-galeria
      [pathimg]="'/cliente3.png'"
      [comentario]="'Levei meu filho pra cortar o cabelo e fiquei impressionado com o cuidado e paciência.'"
      [nome]="'Letícia M'"
      />
    </div>
  </section>