.galeria {
    padding: 100px 0px;
    margin-top: 12px;
    background-color: var(--bege);
    text-align: center;
}

.galeria h2 {
    font-size: 32px;
    font-family: var(--fonte-titulo);
    color: var(--bordo);
    margin-bottom: 35px;
}

.galeria p {
    max-width: 700px;
    margin: 0 auto 50px auto;
    color: var(--preto);
    font-size: 18px;
}

.galeria-content {
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    flex-wrap: wrap;
}


.galeria-content img {
    width: 1000px;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: var(--bordo);
}