.hero {
  width: 100%;
  min-height: 100vh;
  background: url('/hero.jpg') center/cover no-repeat;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-content {
  padding-top: 10vh;
  padding-inline: 1rem;
  text-align: center;
  color: var(--bege);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.hero-content h1 {
  font-family: var(--fonte-titulo);
  font-size: clamp(2.5rem, 8vw, 5rem);
  margin: 0;
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}
.seta {
  width: clamp(80px, 15vw, 150px);
  animation: bounce 2s infinite;
}

.logo-hero {
    width: 150px;
    margin-top: 10px;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

