
.container-clientes-item img {
    width: 307px;
    height: 306px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    transition: transform 0.3s;
}

.container-clientes-item img:hover {
    transform: scale(1.05);
}

.container-clientes-item p:nth-child(2) {
    margin-top: 27px;
}

.container-clientes-item p {
    font-size: 14px;
    width: 307px;
    line-height: 135.938%;
    text-align: justify;
}
.container-clientes-item svg {
    margin-top: 19px;
    transition: transform 0.3s;
}

.container-clientes-item svg:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.container-clientes-svg {
    display: flex;
    gap: 36px;
}