<app-navbar-adm />
<main>
    <div class="container-agendamentos">
        <img src="/menu-adm-agendamentos.png" alt="Agendamentos" />
        <div class="info-agendamentos">
            <h1 class="info-agendamentos-item">AGENDAMENTOS</h1>
            <p class="info-agendamentos-item">Organize os horários, serviços e barbeiros. Tudo em um só lugar.</p>
            <button class="info-agendamentos-item" (click)="entrarAgendamentos()">ENTRAR</button>
        </div>
    </div>
    <div class="container-galeria">
        <img src="/menu-adm-galeria.png" alt="Galeria" />
        <div class="info-galeria">
            <h1 class="info-galeria-item">GALERIA</h1>
            <p class="info-galeria-item">Organize os horários, serviços e barbeiros. Tudo em um só lugar.</p>
            <button class="info-galeria-item" (click)="entraGaleria()">ENTRAR</button>
        </div>
    </div>

</main>
<app-footer-adm/>