<section class="localizacao" id="localizacao">
    <div class="titulo-localizacao">
        <div class="loader"></div>
    </div>

    <div class="mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.8706425175145!2d-46.77252462571094!3d-23.572288561819702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce50808906c533%3A0xc2fa0b0b12e00fa0!2sEstr.%20do%20M&#39;Boi%20Mirim%2C%205462%20-%20Jardim%20Angela%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1713037161746!5m2!1spt-BR!2sbr"
            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>