.container-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.container-add button {
    margin: 0 15px;
}

.add-item {
  width: 70%; /* força os campos a ocuparem toda a largura possível */
}