<!-- Componente pai -->
<section class="servicos" id="servicos">
    <h2>SERVIÇOS</h2>
    <div class="cards">
        <app-card-service
            [pathImg]="'/hair.png'"
            [altImg]="'Corte Masculino'"
            [valorServico]="30"
            [tituloServico]="'Corte Masculino'" 
        />
        <app-card-service
            [pathImg]="'/barba.png'"
            [altImg]="'Barba e Bigode'"
            [valorServico]="25"
            [tituloServico]="'Barba e Bigode'" 
        />
        <app-card-service
            [pathImg]="'/combo.png'"
            [altImg]="'Combo'"
            [valorServico]="50"
            [tituloServico]="'Combo'"
        />
    </div>
</section>