.servicos {
    height: 50vh;
    padding: 100px 20px;
    background-color: var(--bege);
    text-align: center;
}

.servicos h2 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 32px;
    font-family: var(--fonte-titulo);
    color: var(--bordo);
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
}