<section class="servicos" id="servicos">
    <h2>SERVIÇOS</h2>

    <div class="cards">
        <div class="card">
            <img src="/hair.png" alt="Corte Masculino">
            <h3>Corte Masculino</h3>
            <p>R$ 30,00</p>
        </div>

        <div class="card">
            <img src="/barba.png" alt="Barba e Bigode">
            <h3>Barba e Bigode</h3>
            <p>R$ 25,00</p>
        </div>

        <div class="card">
            <img src="/combo.png" alt="Combo">
            <h3>Combo</h3>
            <p>R$ 50,00</p>
        </div>
    </div>
</section>