<app-navbar-adm />
<main>
    <div class="container-bg">
        <h1>AGENDAMENTOS</h1>
    </div>

    <div class="container-datagrid">
        <div class="table-wrapper">
            <table class="datagrid">
                
                <tbody>
                    @for(itemAgendamento of itensAgendamentos; track $index; let i = $index;) {
                    <app-item-agendamento
                        [barbeiro]="itemAgendamento.barbeiro"
                        [data]="itemAgendamento.data"
                        [nomeCliente]="itemAgendamento.cliente"
                        [servico]="itemAgendamento.servico"
                        [barbeiro]="itemAgendamento.barbeiro"
                        [telefone]="itemAgendamento.telefone"
                    />
                    }
                </tbody>
            </table>
        </div>
    </div>

</main>
<app-footer-adm/>